body {
    font-size: 16px;
    color: #61122f;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;

}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 25px;
    margin: 0 auto 20px;
    padding-left: 100px;

}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;

}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 0;
    margin: 0p;
    margin-bottom: 0;
    border: 1px solid #61122f;

}

#nav-list a {
    color: #951C49;
    text-align: center;
    background-color: #557c3e;


}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {
    font-size: 1.8em;
}

#nav-list a {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -50px;
}

.content {
    background-color: #808080;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;


}

#menu-categories-title {
    margin-bottom: 50px;
}

#menu-tile {
    background-color: #cccccc;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
    .container {
        width: 90%;
    }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 90%;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 90%;
    }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    .container {
        width: 70%;
    }

    /* Header */
    .navbar-brand {
        padding-top: 10px;
        /* height: 80px; */
        margin: 0 auto 20px;
    }

    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 15px;
        font-size: 1.5em;
        /* 1vw = 1% of viewport width */
    }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    .container {
        width: 70%;
    }

    /* Header */
    .navbar-brand h1 {
        /* Restaurant name */
        padding-top: 15px;
        margin: 0 auto 20px;
        font-size: 1.5em;
    }

    /* End Header */

    /* Home page */

}
